<div class="form-group form-md-line-input form-md-floating-label">
    <input type="text" class="form-control" id="CodeStock" ng-model="stock.CodeStock">
    <label for="CodeStock">Code Stock</label>
    <span class="help-block">Saisir le code stock...</span>
</div>
<div class="form-group form-md-line-input form-md-floating-label">
    <input type="text" class="form-control" id="LibStock" ng-model="stock.LibStock">
    <label for="LibStock">@(Stock:LibelleStock)</label>
    <span class="help-block">Fait ce que tu veux...</span>
</div>